# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Alembic
*.log

# Database backups
*.sql